@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');
:root{
	---green:#219b9e;
	---middle-gray:#adadad;
	---dark-gray:#5e5e5e;
	---gray:#eae8e8;
	---white:#fff;
	---black:#000;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Rubik';
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.container {
	display: grid;
	grid-template-columns: 30rem 1fr;
	grid-template-rows: min-content 1fr min-content;
	margin-bottom: 3rem;
	flex: 1;
}

/*               TOPBAR               */
.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 2rem;
	background-image:linear-gradient(90deg,#000000, rgb(139, 233, 249));
	position: fixed;
	z-index: 30;
	top: 0;
	right: 0;
	width: calc(100% - 30rem);
	box-shadow: 0 0 2rem var(---middle-gray);
	
}

.topbar2 {
	display: flex;
	padding: 0rem 2rem;
	position: absolute;
	z-index: 30;
	top: 0;
	right: 0;
	width: calc(100% - 0rem);
	top: 6rem;
	background-color: white;
	font-size: 2rem;
	color: #5e5e5e;
	flex: 1;
	
}


.container-arrows {
	display: flex;
	justify-content: center;
	margin-top: -20px;
}

.container-arrow-left,
.container-arrow-right {
	background-color:var(---white);
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-arrow-left i,
.container-arrow-right i {
	margin-top: 30%;
	color:var(---green);
	font-size: 1.4rem;
	
}

h2{
	font-size: 2.2rem;
	font-weight:bold;
	line-height: 25px;
	color: var(---white);
	padding-left: 5px;
}

.buttons-user {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.btn-register {
	color: var(---dark-gray);
	font-weight: 700;
	text-decoration: none;
	font-size: 1.6rem;
	margin-bottom: 0.3rem;
}

.btn-register:hover {
	color:var(---dark-gray);
	transform: scale(1.04);
}

.btn-login {
	text-decoration: none;
	font-size: 1.6rem;
	color:var(---white);
	padding: 1.5rem 2rem;
	border-radius: 2rem;
	font-weight: 700;
	background-color:var(---green);
	border: none;
	outline: none;
	cursor: pointer;
}
.btn-login:hover{
	background: var(---black);
	transform: scale(1.04);
}

.btn-full {
	font-size: 1.6rem;
	color:var(---dark-gray);
	padding: 1.5rem 1.5rem;
	border-radius: 2rem;
	font-weight: 700;
	background-color:var(---white);
	border: none;
	outline: none;
	cursor: pointer;
	text-decoration: none;
}

.btn-full:hover {
	color: var(---white);
	background: var(---black);
	transform: scale(1.04);
}

/*               SIDEBAR              */
.navbar {
	background-color:var(---gray);
	color:var(---black);
	padding-top: 2.4rem;
	grid-row: 1/3;
	grid-column: 1/2;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	position: fixed;
	width: 30rem;
	height: calc(150vh - 10rem);
	box-shadow: 0 0 2rem var(---middle-gray);
}
.container-logo img{
	height: 7rem;
}
.nav-main {
	padding: 0 2.4rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex: 1;
}

.nav-main li {
	list-style: none;
}

.nav-main li a {
	text-decoration: none;
	font-size: 20px;
	color: var(---dark-gray);
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	font-weight: 400;
	text-overflow: ellipsis;
	transition: all 0.3s ease;
}
.nav-main li i {
	font-size: 2.5rem;
	padding-right: 0.4rem;
	color: var(---dark-gray);
}
.nav-main li a i {
	font-size: 2rem;
	color: var(---dark-gray);
}
.nav-main li a:hover {
	color: #219b9e;
}
.extra-options {
	display: inline-flex;
	flex-direction: column;
	gap: 3rem;

	padding: 0 2.4rem;
	margin-top: 1.5rem;
	flex: 1rem;
}

.extra-options button {
	border: none;
	outline: none;
	background: transparent;
	color: var(---dark-gray);
	text-align: left;
	font-size: 1.6rem;
	font-weight: 600;

	display: flex;
	gap: 1.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.extra-options button i {
	font-size: 2rem;
} 

.extra-options button:hover {
	color:var(---white);
}

.container-links {
	display: flex;
	flex-direction: column;
	padding: 0 2.5rem;
	gap: 2rem;
	margin-bottom: 5rem;
}

.btn-language {
	border: 1px solid var(---darkgray);
	background:var(---white);
	color: (---white);
	padding: 1rem;
	width: 18rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-family: inherit;
	font-weight: 700;
	font-size: 1.3rem;
	cursor: pointer;
	transition: all 0.4s ease;
}

.btn-language:hover {
	color: var(---white);
	background: var(---black);
	transform: scale(1.05);
}

.btn-language i {
	font-size: 1.8rem;
}

.container-links-legal {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	margin-bottom: 3rem;
}

.container-links-legal a {
	text-decoration: none;
	color:var(---dark-gray);
	font-size: 1.2rem;
}

.container-links-legal a:hover{
	color: var(---black);
}
/*         CONTENIDO PRINCIPAL        */

.main-content {
	grid-row: 1/3;
	grid-column: 2/-1;
	background-color:var(---gray);
	padding: 14rem;
	display: flex;
	flex-direction: column;
	gap: 8rem;
    flex-wrap: wrap;
    min-width: 250px;
}

.title-playlist {
	margin-top: 1rem;
	font-size: 2.4rem;
	color:var(---dark-gray);
	cursor: pointer;
	font-weight: 600;
}

.title-playlist:hover {
	color: var(---black);
}

.container-name-concentracion,
.container-name-spotify-playlists {
	display: flex;
	gap: 2rem;
	margin-bottom: 2rem;
}

.container-card-concentracion,
.container-card-spotify-playlists {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2.4rem;
}

.card-concentracion,
.card-spotify-playlists 
{
	background-color:var(---white);
	border-radius: 0.5rem;
	padding: 1.6rem;
	box-shadow: 0 0 2rem var(---middle-gray);
	transition: 0.3s ease;
	cursor: pointer;
	position: relative;
	margin-left: -4rem;
	margin-top: 2rem;
}

.card-concentracion:hover,
.card-spotify-playlists:hover {
	background-image: linear-gradient(90deg,#eae8e8,#219b9e);
}

.card-img img {
	width: 100%;
	border-radius: 0.5rem;
}

.card-img {
	overflow: hidden;
}

.card h2 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	color:var(---dark-gray);
	font-weight: 600;
}
.card p {
	font-size: 1.3rem;
	color: var(---middle-gray);
	font-weight: 400;
	line-height: 1.5;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
/*               FOOTER               */
.footer {
	grid-row: 3/4;
	grid-column: 2/-1;
	background-color: var(---gray);
	padding: 4rem;
	display: grid;
	box-shadow:0 0 1rem var(---middle-gray);
	align-items: center;
	margin-bottom: -79px;
}
.footer h3{
	color: var(---middle-gray);
	font-size: 1.8rem;
	display: flex;
	flex-direction: column-reverse;
}
.social-icons{
	display:flex;
	justify-content: right;
	margin-right: 0;
}
.social-icons a {
	color: var(---green);
  	text-decoration: none;
	width: 2rem; 	
  	height: 2rem;
  	margin: 1.5rem 1rem;
  	font-size: 2.7rem;
  	transition:.3s;
}
.social-icons a :hover{
	color: var(---black);
}
.container-links-footer {
	display: grid;
	grid-template-columns: auto;
	columns: 5;
	padding-bottom: 1rem;
}

.links-footer {
	display: flex;
	flex-direction: row;
	gap: 1.5rem;
	font-size: 1.6rem;
	margin-left :10rem;
}

.links-footer a {
	text-decoration: none;
	color:var(---middle-gray);
	border-right: 0.2rem solid var(---middle-gray);
	padding-right: 1rem;
}

.links-footer a:hover {
	text-decoration: underline;
	color: var(---black);
}

.final-footer {
	display: flex;
	justify-content: center;
}
.final-footer h2{
	line-height: 2.4rem;
	gap: 1.5rem;
	font-size: 1.6rem;
	color: var(---middle-gray)
}
/*            BANNER FINAL            */
.banner-bottom .content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.banner-bottom .content span {
	font-size: 1.4rem;
	text-transform: uppercase;
}

.banner-bottom .content p {
	font-size: 1.6rem;
}

/* Clases Adicionales */
.transparent {
	opacity: 0.9;
}
.btn-play {
	width: 5rem;
	height: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;

    background-color:var(---green);
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 52%;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.btn-play i{
    font-size: 2.3rem;
    padding-left: .5rem;
}
	
@media  (min-width: 1200px) and (max-width: 2400px) {
	.container {
	  grid-template-columns: 30rem 1fr;
	  grid-template-rows: min-content 1fr min-content;
	  margin-bottom: 1rem;
	}
	#check{
		opacity: 0;
	}
	.checkbtn i{
		opacity: 0;
	}
	.banner-bottom {
		padding: 1rem 2rem;
  }
}
@media (min-width: 1093px) and (max-width: 1199px) {
	.container {
	  grid-template-columns: 30rem 1fr;
	}
	.checkbtn{
		opacity: 0;
	}
  }
  @media (min-width: 992px) and (max-width: 1092px) {
	.container {
	  grid-template-columns: 24rem 1fr;
	}
	.topbar {
		width: 76%;
	}
	h2 {
	  font-size: 1.8rem;
	}
  
	.btn-register,
	.btn-login,
	.btn-full {
	  font-size: 1.2rem;
	  padding: 0.75rem 1.5rem;
	}
	.navbar{
		width: 24rem;
	}
	.container-logo img {
		height: 6rem;
	}
	#check{
		opacity: 0;
	}
	.checkbtn i{
		opacity: 0;
	}
  }
  @media (min-width: 768px) and (max-width: 991px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr auto;
	}	
	.topbar {
		width: 100%;
	}	
	h2 {
		font-size: 1.6rem;
	}
	.btn-register,
	.btn-login,
	.btn-full {
		font-size: 1.2rem;
		padding: 1rem 1.2rem;
	}	
	.container-logo{
		margin-top: 6.5rem;
	}
	.container-logo img {
		height: 7rem;
	}
	.navbar {
		width: 30%;
	}
	.navbar li {
		margin-bottom: 1.4rem;
		margin-left: 0.7rem;
	} 
	.nav-main li a {
		font-size: 1.2rem;
	}
	.extra-options button {
		font-size: 1.2rem;
	}
	.container-links{
		bottom: 30%;
	}
	#check{
		opacity: 0;
	}
	.checkbtn i{
		top:1%;
		opacity: 0;
	}
	.main-content {
		width: 70%;
		margin-left: 30%;
	}
	.container-card-concentracion,
	.container-card-spotify-playlists {
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2rem;
	}
	.title-playlist {
		font-size: 1.6rem;
	}
	
	.card-concentracion h2,
	.card-spotify-playlists h2 {
		font-size: 1.2rem;
	}
	
	.card-concentracion p,
	.card-spotify-playlists p {
		font-size: 1.1rem;
	}
	.footer{
		width: 70%;
		margin-left: 30%;
	}
	.footer h3 {
		font-size: 1.2rem;
	}
	
	.links-footer a {
		font-size: 1.2rem;
		margin-left: 0.1rem;
	}
  }
  @media  (min-width: 576px) and (max-width: 767px) {
	.container {
	  grid-template-columns: 1fr;
	  grid-template-rows: auto 1fr auto;
	} 
	.topbar {
	  width: 100%;
	  z-index: 1;
	} 
	h2 {
	  font-size: 1.6rem;
	} 
	.btn-register,
	.btn-login,
	.btn-full {
	  font-size: 1.2rem;
	  padding: 1rem 1.2rem;
	}
	.container-logo{
		width: 26rem;
	}
	.container-logo img {
	  height: 3.7rem;
	}
	.navbar{
		display: none;
		z-index: 1;
	}
	.nav-main li a {
	  font-size: 1.2rem;
	}  
	.extra-options button {
	  font-size: 1.2rem;
	}
	.container-links-legal {
		margin-top: 3.5rem;
	}
	.btn-language i{
	  width: 2.5rem;
	  margin-left: 0.1re;
	}
	.main-content {
		width: 100%;
		z-index: auto;
	}
	#check{
	  opacity: 0;
	}
	.checkbtn{
        color:var(---green);
    }
	.checkbtn i:hover{
		color: var(---black);
	}
	.checkbtn i{
	   top:5%;
	   opacity: 1;
	   font-size: 4rem;
	}
	.navbar.active {
		display: block;
	}
	.container-card-concentracion,
	.container-card-spotify-playlists {
	grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
	gap: 2rem;
	}
	.title-playlist {
	  font-size: 1.6rem;
	} 
	.card-concentracion h2,
	.card-spotify-playlists h2 {
	  font-size: 1rem;
	  left: 0;
	} 
	.card-concentracion p,
	.card-spotify-playlists p {
	  font-size: 1.1rem;
	}
	.footer{
		width: 100%;
	}
	.footer h3 {
	  font-size: 2.5rem;
	} 
	.links-footer{
		left: 0;
		gap: 1.3rem;
	}
	.links-footer a {
	  font-size: 1.5rem;
	  position: center;
	}
	.final-footer h2{
		line-height: 3rem;
		margin-bottom: 0.7rem;
	}
	.banner-bottom{
		padding: 1rem 1.5rem;
	}
  }
  @media(min-width: 374px) and (max-width: 575px) {
	.container {
	  grid-template-columns: 1fr;
	  grid-template-rows: auto 1fr auto;
	}
	.topbar {
	  width: 100%;
	  padding: 1rem 0.5rem;
	  z-index: 1;
	}
	.container-arrow-left,
	.container-arrow-right {
	  width: 1.7rem;
	  height: 1.7rem;
	  left: 0;
	}
	.container-arrow-left i,
	.container-arrow-right i{
		font-size: 1.3rem;
	} 
	h2 {
	  margin-right: 0.7rem;
	  margin-left: 0.5rem;
	  font-size: 1.2rem;
	}
	.btn-register,
	.btn-login,
	.btn-full {
	  left: 0;
	  font-size: 1rem;
	  padding: 0.5rem 1rem;
	  gap: 0.5rem;
	}
	.container-logo{
	  width: 23rem;
	}
	.container-logo img {
	  height: 3.4rem;
	}
	.navbar{
	  display: none;
	  z-index: 1;
	}
	.nav-main li a {
	  font-size: 1.2rem;
	}
	.extra-options button {
	  font-size: 1.2rem;
	}
	.container-links-legal {
		margin-top: 3.5rem;
	}
	.btn-language{
		width: 13rem;
	}
	.btn-language i{
	  width: 2rem;
	  margin-left: 0.1rem;
	}
	.main-content{
	   width: 100%;
	   z-index: auto;
	}
	#check{
	  opacity: 0;
	}
	.checkbtn i{
	  color:var(---green);
	}
	.checkbtn i:hover{
	  color: var(---black);
	}
	.checkbtn i{
	  top:5%;
	  opacity: 1;
	  font-size: 4rem;
	}
	.navbar.active {
	  width: 43%;
	  height: 70rem;
	  display: block;
	}
	.title-playlist {
	  margin-top: 0.1rem;
	  font-size: 1.6rem;
	}
	.container-card-concentracion,
	.container-card-spotify-playlists {
	  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
	  gap: 2rem;
	}
	.card-concentracion h2,
	.card-spotify-playlists h2 {
	  font-size: 1.2rem;
	}
	.card-concentracion p,
	.card-spotify-playlists p {
	  font-size: 1.1rem;
	}
	.footer{
	  width: 100%;
	}
	.links-footer  {
	  font-size: 1.7rem;
	  position: center;
	  margin-left: 2rem;
	}
	.links-footer a {
	  font-size: 1.5rem;
	  position: center;
	}
	.footer h3{
	  right: 2rem;
	}
	.banner-bottom{
	   padding: 1rem 1rem;
		height: 10rem;
	}
  }
  @media(min-width: 360px) and (max-width:373px) {
	body{
		height: auto;
	}
	.container {
	  grid-template-columns: 1fr;
	  grid-template-rows: auto 1fr auto;
	}
	.topbar {
	  width: 100%;
	  padding: 1rem 0.5rem;
	  z-index: 1;
	}	
	.container-arrow-left,
	.container-arrow-right {
	  width: 1.5rem;
	  height: 1.5rem;
	  left: 0;
	}
	.container-arrow-left i,
	.container-arrow-right i{
		font-size: 1rem;
	} 
	h2 {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	    font-size: 1.2rem;
	}  
	.btn-register,
	.btn-login,
	.btn-full {
	  left: 0;
	  font-size: 1rem;
	  padding: 0.5rem 1rem;
	  gap: 0.5rem;
	}
	.container-logo{
	  width: 22rem;
	}
	.container-logo img {
	  height: 3.4rem;
	}
	.navbar{
	  display: none;
	  z-index: 1;
	}
	.nav-main li a {
	  font-size: 1.2rem;
	}
	.extra-options button {
	  font-size: 1.2rem;
	}
	.container-links-legal {
	  margin-top: 3.5rem;
	}
	.btn-language{
		width: 13rem;
	}
	.btn-language i{
	  width: 2rem;
	  margin-left: 0.1rem;
	}
	.main-content{
	  width: 100%;
	  z-index: auto;
	}
	#check{
	  opacity: 0;
	}
	.checkbtn{
	  color:var(---green);
	}
	.checkbtn i:hover{
	  color: var(---black);
	}
	.checkbtn i{
	  top:5%;
	  opacity: 1;
	  font-size: 4rem;
	}
	.navbar.active {
	  width: 43%;
	  display: block;
	  height: 115rem;
	}
	.title-playlist {
	  margin-top: 0.1rem;
	  font-size: 1.6rem;
	}
	.container-card-concentracion,
	.container-card-spotify-playlists {
	  display: grid;
	  grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
	  gap: 2rem;
	}
	.card-concentracion h2,
	.card-spotify-playlists h2 {
	  font-size: 1.2rem;
	}
	.card-concentracion p,
	.card-spotify-playlists p {
	  font-size: 1.1rem;
	}
	.footer{
	  width: 100%;
	}
	.links-footer  {
	  font-size: 1.5rem;
	  position: center;
	  margin-left: 1rem;
	}
	.links-footer a {
	  font-size: 1.2rem;
	  margin-left: 0;
	}
	.footer h3{
	  right: 2rem;
	}
	.banner-bottom{
	  padding: 0.9rem 0.9rem;
	}
}